.movies-cards__list {
  margin: 0;
  padding: 64px 0 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 24px;
}

.movies-cards__more {
  display: flex;
  flex-direction: column;
  padding: 50px 0 80px;
}

.movies-cards__more-btn {
  padding: 11px 0 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: none;
}

@media screen and (width: 768px) {
  .movies-cards__list {
    justify-content: flex-start;
    gap: 36px 30px;
  }
}

@media screen and (max-width: 550px) {
  .movies-cards__list {
    padding: 46px 0 30px;
    row-gap: 16px;
  }
} 

@media screen and (max-width: 550px) {
  .movies-cards__more {
    padding: 50px 0 82px;
  }
} 