.profile {
  padding: 71px 0 70px;
}

.profile__form {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__inputs {
  margin: 108px 0 0;
}

.profile__form-label {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-bottom: 1px solid #e8e8e8;
}

.profile__form-label:nth-of-type(2) {
  padding: 18px 0;
}

.profile__form-label:last-of-type {
  border: none;
}

.profile__form-input {
  padding: 0;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border: none;
  outline: none;
}

.profile__form-input_type_error {
  color: #ee3465;
}

.profile__btns {
  margin: 201px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.profile__btn {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

.profile__btn_type_signout {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 231px 0 70px;
  }
} 

@media screen and (max-width: 768px) {
  .profile__inputs {
    margin: 81px 0 0;
  }
} 

@media screen and (max-width: 768px) {
  .profile__btns {
    margin: 191px 0 0;
  }
} 

@media screen and (max-width: 480px) {
  .profile {
    padding: 64px 30px 40px;
  }
} 

@media screen and (max-width: 480px) {
  .profile__inputs {
    margin: 65px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__btns {
    margin: 360px 0 0;
  }
} 

@media screen and (max-width: 480px) {
  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }
} 