.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper_type_burger {
  margin: 160px 0 0;
  flex-direction: column;
  gap: 621px;
}

.navigation__list {
  margin: 0 0 0 45px;
  padding: 0 0 6px;
  list-style: none;
  display: flex;
  gap: 16px;
}

.navigation__list_type_main {
  column-gap: 30px;
}

.navigation__list_type_burger {
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  gap: 28px;
}

.navigation__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.navigation__link_color_black {
  color: #000;
}

.navigation__link_active {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.navigation__link_type_burger {
  padding: 0 0 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navigation__link_burger_active {
  border-bottom: 2px solid #000;
}

.navigation__link_type_main {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation__link_type_profile {
  margin: 0 0 0 auto;
  padding: 0 0 5px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__link_type_profile::after {
  content: url(../../images/acc-icon.svg);
  margin: 0 0 0 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.navigation__link_type_profile-logged {
  margin: 0 0 0 auto;
  padding: 0 0 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__link_type_profile-logged::after {
  content: url(../../images/acc-icon.svg);
  margin: 0 0 0 16px;
  padding: 8px;
  border-radius: 4px;
  background-color: #2be080;
}

.navigation__link_type_signin {
  padding: 8px 20px;
  color: #000;
  background-color: #2be080;
  border-radius: 3px;
}

.navigation-burger {
  padding: 22px;
  background: url('../../images/burger.svg') no-repeat;
  background-position: bottom 2px center;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 768px) {
  .navigation__link_type_profile {
    margin: 0;
    padding: 0;
  }
} 

@media screen and (max-width: 480px) {
  .navigation__list_type_main {
    column-gap: 14px;
  }
} 

@media screen and (max-width: 480px) {
  .navigation__link_type_main {
    font-size: 10px;
  }
} 

@media screen and (max-width: 480px) {
  .navigation__link_type_signin {
    padding: 7px 12px;
  }
}

@media screen and (max-width: 480px) {
  .navigation-wrapper_type_burger {
    margin: 145px 0 0;
    gap: 444px;
  }
}

@media screen and (max-width: 480px) {
  .navigation__list_type_burger {
    gap: 24px;
  }
}