.message {
    position: fixed;
    bottom: 100px;
    right: 50px;
    transition: all .3s linear;
    visibility: hidden;
    opacity: 0;
  }
  
  .message_opened {
    visibility: visible;
    opacity: 1;
  }
  
  .message__body {
    width: 250px;
    padding: 10px 20px;
    position: relative;
    border-radius: 6px;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    transition: all .3s linear;
    transform: translateY(300px);
  }
  
  .message__body_opened {
    transform: translateY(0);
  }

  .message__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  
  .message__close {
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../../images/cross.svg') no-repeat center;
    background-size: 20px;
    cursor: pointer;
    border: none;
  }
  
  @media screen and (max-width: 480px) {
    .message  {
      right: 10px;
    }
  }
